<div class="flex flex-col gap-2 items-start w-full">
  <label class="text-base font-medium text-[#161616]">
    {{ label | translate }}
  </label>

  <div class="relative w-full">
    <img
      src="assets/images/calender-icon.png"
      alt="Calendar"
      class="absolute start-3 top-1/2 transform -translate-y-1/2 w-4 h-4 pointer-events-none z-10"
    />

    <mat-form-field appearance="outline" class="w-full custom-mat-form-field">
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="selectedDate"
        (dateChange)="onDateChange($event)"
        (click)="picker.open()"
        [min]="minDate"
        [max]="maxDate"
        [disabled]="disabled"
        [placeholder]="'datePickers.gregorian.selectDate' | translate"
        class="ps-7 py-2 w-full cursor-pointer"
        readonly
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="picker"
        class="custom-datepicker-toggle"
      >
        <mat-icon matDatepickerToggleIcon>
          <!-- Custom calendar icon will be handled by CSS -->
        </mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker
        #picker
        startView="month"
        touchUi="false"
      ></mat-datepicker>
    </mat-form-field>
  </div>
</div>
