<div class="p-4 md:p-20 flex flex-col gap-6">
  <div class="flex gap-3 w-full">
    <div class="flex flex-col gap-3">
      <!-- Title -->
      <div class="flex gap-4 w-full">
        <h2 class="font-ibm-plex-arabic text-[30px] font-bold">
          {{ "calendar.title" | translate }}
        </h2>
      </div>
      <!-- Subtitle -->
      <div class="font-ibm-plex-arabic text-base">
        {{ "calendar.description" | translate }}
      </div>
    </div>
  </div>

  <div>
    <!-- Tabs Section -->
    <div class="flex w-full">
      <div class="flex border-b-2 border-[#D2D6DB] w-full">
        <button
          *ngFor="let tab of tabs"
          [class]="
            'px-6 py-3 transition-colors ' +
            (activeTab === tab.id
              ? 'border-[#1B8354] border-b-4 text-[#161616] font-bold'
              : 'border-[#D2D6DB] text-[#161616] hover:bg-[#F3F4F6]')
          "
          (click)="handleTabChange(tab.id)"
        >
          {{ tab.labelKey | translate }}
        </button>
      </div>
    </div>

    <!-- Content Section -->
    <div class="flex flex-col gap-6 bg-[#F9FAFB]">
      <div *ngIf="activeTab === 'prayTime'">
        <app-daily-prayer-times></app-daily-prayer-times>
      </div>

      <div *ngIf="activeTab === 'umqurra'" class="p-4 md:p-[80px]">
        <app-umm-qura-calender></app-umm-qura-calender>
      </div>

      <div *ngIf="activeTab === 'dateConverter'" class="p-4 md:p-[80px]">
        <app-date-converter></app-date-converter>
      </div>
    </div>
  </div>
</div>
