

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBMArabic-Light";
  src: local("IBMArabic-Light"),
       url("/assets/fonts/IBMArabic-Light.woff2") format("woff2"),
       url("/assets/fonts/IBMArabic-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMArabic-Regular";
  src: local("IBMArabic-Regular"),
       url("/assets/fonts/IBMArabic-Regular.woff2") format("woff2"),
       url("/assets/fonts/IBMArabic-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMArabic-Medium";
  src: local("IBMArabic-Medium"),
       url("/assets/fonts/IBMArabic-Medium.woff2") format("woff2"),
       url("/assets/fonts/IBMArabic-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMArabic-SemiBold";
  src: local("IBMArabic-SemiBold"),
       url("/assets/fonts/IBMArabic-SemiBold.woff2") format("woff2"),
       url("/assets/fonts/IBMArabic-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMArabic-Bold";
  src: local("IBMArabic-Bold"),
       url("/assets/fonts/IBMArabic-Bold.woff2") format("woff2"),
       url("/assets/fonts/IBMArabic-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


html,
body,
#root {
  margin: 0;
  padding: 0;
  font-weight: normal;
    font-family: "IBMArabic-Medium";
  @apply w-full h-full;
}
.footercss svg  *
{
fill:#fff !important;
}


.nav-item {
  background-color: transparent;
  color: #1f2937;
  transition: all 0.3s ease-in-out;
}

.nav-item-active {
    background-color: #1b8354;
    color: #fff;
    -webkit-box-shadow: 0 0 0 5px #fff0 !important;
    box-shadow: 0 0 0 5px #fff0 !important;
    outline: 2px solid #fff0 !important;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-decoration: none;
}

.nav-item-active-calendar {
    background-color: #1b8354;
    color: #fff;
    -webkit-box-shadow: 0 0 0 5px #fff0 !important;
    box-shadow: 0 0 0 5px #fff0 !important;
    outline: 2px solid #fff0 !important;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-decoration: none;
}

html.theme-gray {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* Optional: Add smooth transition */
html {
  transition: filter 0.3s ease;
}/* Base font size */
